* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f9f9f9;
	color: black;
}

/* header*/
header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 200px;
    background-image: url(./img/car-baner.png);
    background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
}

.hero-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.hero-text{
	position: absolute;
	color: white;
}
.hero-text h1{
	text-shadow: 3px 3px 5px black;
}
header span{
	color: gold;
	font-style: italic;
	text-transform: uppercase;
}

/*nav*/
nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-size: large;
}

nav a{
	color: black;
	padding: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: color .5s;
}

a{
	text-decoration: none;
}

nav a:hover{
	color: gold;
}
/*main*/

h2{
	margin: 20px;
	text-align: center;
	color: #333;
	font-size: 1.5rem;
	text-transform: uppercase;
}

/*slider*/
.slider-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 400px;
	margin: auto;
	
}
.slider-container img{
	display: none;
	max-width: 700px;
	height: 350px;
}

img.sliderStyle{
	display: block;
}

.slider-container button{
	position: absolute;
	padding: 12px;
	border: none;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	font-size: 2rem;
	cursor: pointer;
}

.next{
	right: 0;
}

.back{
	left: 0;
}

.price-container {
    position: absolute;
    bottom: 20px;
	right: 5%;
	padding: 15px 25px;
	background-color: rgba(255, 215, 0, 0.9);
    border-radius: 12px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    
}

.price-text {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.discount{
	color: red;
}

.old-price-text{
	color: grey;
	text-decoration: line-through;
}

.description-container{
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	margin: 10px;
	padding: 8px 10px;
	background-color: white;
    border-radius: 12px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.review-container{
	margin: 30px 150px;
	padding: 30px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-container{
	display: flex;
	justify-content: space-between;
}

.review-container h2{
	margin-bottom: 30px;
}

.review-card{
	flex: 0 1 30%;
	margin: 20px;
	padding: 20px;
	text-align: left;
	background-color: #f9f9f9;
	border-radius: 12px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.review-card .stars{
	margin-bottom: 10px;
	color: gold;
	font-size: 1.5rem;
}

.review-card .opinion{
	margin-bottom: 20px;
	color: black;
	font-style: italic;
	font-size: 1.1rem;
}

.review-card .name{
	text-align: right;
	font-weight: bold;
}

/*footer*/
footer {
	padding: 40px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.column {
    flex: 0 1 25%;
    margin: 10px;
}

.column:not(:last-child){
	border-right: 1px solid black;
}

.column h3{
	margin: 10px;
}

.column p a{
	color: #111;
}

.column p {
	color: #111;
}

.bottom{
	margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #555;
    font-size: 0.9rem;
    color: #ccc;
}